main {
    background-color: #000000;
}
.planisMovieMain{
    color: white;
    z-index: 2;
}
.planisMovieText{
     z-index: 2;
}
.hero-btns{
    z-index: 2;
}
.hero-slider {
    position: relative;
    width: 100%;
    height: 80vh; 
    min-height: 600px;
    background-size: cover !important;
    background-position: center 20% !important;
    background-repeat: no-repeat;
    transition: background-image 0.8s ease-in-out;
    overflow: hidden;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.3) 50%, transparent 100%);
    display: flex;
}

.hero-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    display: flex;
 justify-content: space-between; 
    align-items: flex-end; 

}

.topbottomn{
   position: absolute;
   left: 10px;
   bottom: 37px;
    opacity: 0.1;
}
.top-line{
    border: 1px solid white;
    width:10px;
     z-index: 1;
}
.left-line{
    border: 1px solid white;
  height: 140px;
  width: 0px;
  z-index: 1;
}
.bottomn-top-line{
     border: 1px solid white;
       width:10px;
     z-index: 1;

}
.hero-content {
    margin-bottom: 20px;
    color: white;
}

.hero-thumbnails {
    display: flex;
    gap: 15px;
}

.thumb {
    width: 110px;
    height: 65px;
    cursor: pointer;
    border: 2px solid rgba(255,255,255,0.2);
    transition: 0.3s ease;
    overflow: hidden;
}

.thumb:hover, .thumb.active {
    border-color: #ff0000;
    transform: translateY(-5px);
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.red-line{
    border: 1px solid red;
}